# === Compile for the native CPU ===
CONFIG_X86_NATIVE_CPU=y

# === Use BBR network congestion algorithm === 
CONFIG_TCP_CONG_BBR=y
# CONFIG_DEFAULT_CUBIC is not set
CONFIG_DEFAULT_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"

# === 300Hz -> 1000Hz Timer ===
# CONFIG_HZ_300 is not set
CONFIG_HZ_1000=y
CONFIG_HZ=1000

# === LZ4 Decompression ===
# (barely any compression, but fast)
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_LZ4=y

